
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPacientLaboratoyLabel" data-translate="cercardiobitiApp.pacientLaboratoy.home.createOrEditLabel">Create or edit a Pacient Laboratoy</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.pacientLaboratoy.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.pacientLaboratoy.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.pacientLaboratoy.laboratory" for="field_laboratory">Laboratory</label>
            <input type="text" class="form-control" name="laboratory" id="field_laboratory"
                    ng-model="vm.pacientLaboratoy.laboratory"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.pacientLaboratoy.number" for="field_number">Number</label>
            <input type="text" class="form-control" name="number" id="field_number"
                    ng-model="vm.pacientLaboratoy.number"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.pacientLaboratoy.dateofelaboration" for="field_dateofelaboration">Dateofelaboration</label>
                <div class="input-group">
                    <input id="field_dateofelaboration" type="text" class="form-control" name="dateofelaboration" datetime-picker="{{dateformat}}" ng-model="vm.pacientLaboratoy.dateofelaboration" is-open="vm.datePickerOpenStatus.dateofelaboration"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateofelaboration')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label data-translate="cercardiobitiApp.pacientLaboratoy.pacient" for="field_pacient">Pacient</label>
            <select class="form-control" id="field_pacient" name="pacient" ng-model="vm.pacientLaboratoy.pacient" ng-options="pacient as pacient.id for pacient in vm.pacients track by pacient.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
