<div>
    <h2 data-translate="cercardiobitiApp.pacient.home.title">Pacients</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="pacient.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="cercardiobitiApp.pacient.home.createLabel">
                        Create new Pacient
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'cercardiobitiApp.pacient.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
         <br>

        <table ng-table="vm.defaultConfigTableParams" 
               class="table table-bordered table-hover table-striped 
                      table-condensed responsive no-wrap dtr-inline ng-table-rowselected hide-overflow">               
          <tr ng-repeat="pacient in $data"
              ng-click="vm.getData(pacient)">              
              <td data-title="'Nombre'">{{pacient.userBD.name}} {{pacient.userBD.lastname}}</td>
              <td data-title="'Número de Teléfono'">{{pacient.phonenumber1}}</td> 
              <td data-title="'Direccción'">{{pacient.street}} - {{pacient.streetnumber}},  {{pacient.colony}}, {{pacient.cp}}</td>
                
               
              <td class="text-right">
                  <div class="btn-group flex-btn-group-container">
                      
                      <button type="submit"
                              ui-sref="pacient.edit({id:pacient.id})"
                              class="btn btn-primary btn-sm">
                          <span class="glyphicon glyphicon-pencil"></span>
                          <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                      </button>
                      <button type="submit"
                              ui-sref="pacient.delete({id:pacient.id})"
                              class="btn btn-danger btn-sm">
                          <span class="glyphicon glyphicon-remove-circle"></span>
                          <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                      </button>
                  </div>
              </td>              
          </tr>
        </table>
        <div class="col-md-12"> 
            <div class="text-center">
                <uib-tabset active="active">
                    <uib-tab index="0" heading="GENERALES"> 
                        <div class="col-md-12 animated fadeInLeft" style="background-color:#fff">
                            <form>
                                <fieldset disabled>
                                    <br>                                            
                                    <div class="col-md-12">
                                        <dt class="col-md-2 text-right" ><span data-translate="cercardiobitiApp.pacient.curp">Curp</span></dt>
                                        <input class="col-md-4"  type="text" ng-model="vm.pacientselected.curp">
                                        
                                        <dt class="col-md-2 text-right" ><span data-translate="cercardiobitiApp.pacient.rfc">Rfc</span></dt>
                                        <input class="col-md-4" type="text" ng-model="vm.pacientselected.rfc">
                                        
                                    </div>
                                    <div class="col-md-12">
                                        <dt class="col-md-2 text-right" ><span data-translate="cercardiobitiApp.pacient.dateofbirth">Dateofbirth</span></dt>
                                        <input class="col-md-4"  type="text" ng-model="vm.pacientselected.dateofbirth | date:'mediumDate'">

                                        <dt class="col-md-2 text-right" ><span data-translate="cercardiobitiApp.pacient.placeofbirth">Placeofbirth</span></dt>
                                        <input class="col-md-4"  type="text" ng-model="vm.pacientselected.placeofbirth">                                        
                                    </div>
                                    <div class="col-md-12">
                                        <dt class="col-md-2 text-right" ><span data-translate="cercardiobitiApp.pacient.privatenumber">Privatenumber</span></dt>
                                        <input class="col-md-4"  type="text" ng-model="vm.pacientselected.privatenumber">

                                        <dt class="col-md-2 text-right" ><span data-translate="cercardiobitiApp.pacient.socialnumber">Socialnumber</span></dt>
                                        <input class="col-md-4"  type="text" ng-model="vm.pacientselected.socialnumber">                                        
                                    </div> 
                                    <div class="col-md-12">
                                        <dt class="col-md-2 text-right" ><span data-translate="cercardiobitiApp.pacient.company">Company</span></dt>
                                        <input class="col-md-4"  type="text" ng-model="vm.pacientselected.company.id">

                                        <dt class="col-md-2 text-right" ><span data-translate="cercardiobitiApp.pacient.gender">Gender</span></dt>
                                        <input class="col-md-4"  type="text" ng-model="vm.pacientselected.gender.id">                                        
                                    </div>                           
                                    <div class="col-md-12">
                                        <dt class="col-md-2 text-right" ><span data-translate="cercardiobitiApp.pacient.civilstatus">Civilstatus</span></dt>
                                        <input class="col-md-4"  type="text" ng-model="vm.pacientselected.civilstatus.id">

                                        <dt class="col-md-2 text-right" ><span data-translate="cercardiobitiApp.pacient.religion">Religion</span></dt>
                                        <input class="col-md-4"  type="text" ng-model="vm.pacientselected.religion.id">                                        
                                    </div>
                                    <div class="col-md-12">
                                        <dt class="col-md-2 text-right" ><span data-translate="cercardiobitiApp.pacient.ethnicGroup">Ethnic Group</span></dt>
                                        <input class="col-md-4"  type="text" ng-model="vm.pacientselected.ethnicGroup.id">

                                        <dt class="col-md-2 text-right" ><span data-translate="cercardiobitiApp.pacient.academicDegree">Academic Degree</span></dt>
                                        <input class="col-md-4"  type="text" ng-model="vm.pacientselected.academicDegree.id">                                        
                                    </div> 
                                    <div class="col-md-12">
                                        <dt class="col-md-2 text-right" ><span data-translate="cercardiobitiApp.pacient.socioeconomicLevel">Socioeconomic Level</span></dt>
                                        <input class="col-md-4"  type="text" ng-model="vm.pacientselected.socioeconomicLevel.id">

                                        <dt class="col-md-2 text-right" ><span data-translate="cercardiobitiApp.pacient.occupation">Occupation</span></dt>
                                        <input class="col-md-4"  type="text" ng-model="vm.pacientselected.occupation.id">                                        
                                    </div> 
                                    <div class="col-md-12">
                                        <dt class="col-md-2 text-right" ><span data-translate="cercardiobitiApp.pacient.livingPlace">Living Place</span></dt>
                                        <input class="col-md-4"  type="text" ng-model="vm.pacientselected.livingPlace.id">

                                        <dt class="col-md-2 text-right" ><span data-translate="cercardiobitiApp.pacient.privateHealthInsurance">Private Health Insurance</span></dt>
                                        <input class="col-md-4"  type="text" ng-model="vm.pacientselected.privateHealthInsurance.id">                                        
                                    </div> 
                                    <div class="col-md-12">
                                        
                                        <dt class="col-md-2 text-right" ><span data-translate="cercardiobitiApp.pacient.socialHealthInsurance">Social Health Insurance</span></dt>
                                        <input class="col-md-4"  type="text" ng-model="vm.pacientselected.socialHealthInsurance.id">                                        
                                    </div>   
                                    <div class="col-md-12">
                                        <br>
                                    </div>                                                                   
                                </fieldset>
                            </form>                            
                        </div>
                    </uib-tab>
                    <uib-tab index="1" heading="CONTACTO">
                        <div class="col-md-12 animated fadeInLeft" style="background-color:#fff">
                            <form>
                                <fieldset disabled>
                                    <br>        
                                    <div class="col-md-12">
                                        <dt class="col-md-1 text-right" ><span data-translate="cercardiobitiApp.pacient.street">Street</span></dt>
                                        <input class="col-md-6"  type="text" ng-model="vm.pacientselected.street">
                                    
                                        <dt class="col-md-2 text-right"><span data-translate="cercardiobitiApp.pacient.streetnumber">Streetnumber</span></dt>
                                        <input class="col-md-1" type="text" ng-model="vm.pacientselected.streetnumber">

                                        <dt class="col-md-1 text-right" ><span data-translate="cercardiobitiApp.pacient.suitnumber">Suitnumber</span></dt>
                                        <input class="col-md-1" type="text" ng-model="vm.pacientselected.suitnumber">
                                    </div>  
                                    <div class="col-md-12">
                                        <dt class="col-md-1 text-right" ><span data-translate="cercardiobitiApp.pacient.colony">Colony</span></dt>
                                        <input class="col-md-7"  type="text" ng-model="vm.pacientselected.colony">
                                        
                                        <dt class="col-md-1 text-right" ><span data-translate="cercardiobitiApp.pacient.cp">Cp</span></dt>
                                        <input class="col-md-2" type="text" ng-model="vm.pacientselected.cp">
                                        
                                    </div>
                                    <div class="col-md-12">
                                        <dt class="col-md-1 text-right" ><span data-translate="cercardiobitiApp.pacient.phonenumber1">Phonenumber 1</span></dt>
                                        <input class="col-md-5"  type="text" ng-model="vm.pacientselected.phonenumber1">

                                        <dt class="col-md-1 text-right" ><span data-translate="cercardiobitiApp.pacient.phonenumber2">Phonenumber 2</span></dt>
                                        <input class="col-md-5"  type="text" ng-model="vm.pacientselected.phonenumber2">                                        
                                    </div> 
                                    <div class="col-md-12">
                                        <dt class="col-md-1 text-right" ><span data-translate="cercardiobitiApp.pacient.email1">Email 1</span></dt>
                                        <input class="col-md-5"  type="text" ng-model="vm.pacientselected.email1">

                                        <dt class="col-md-1 text-right" ><span data-translate="cercardiobitiApp.pacient.email2">Email 2</span></dt>
                                        <input class="col-md-5"  type="text" ng-model="vm.pacientselected.email2">                                        
                                    </div>
                                    <div class="col-md-12">
                                        <dt class="col-md-1 text-right" ><span data-translate="cercardiobitiApp.pacient.facebook">Facebook</span></dt>
                                        <input class="col-md-5"  type="text" ng-model="vm.pacientselected.facebook">

                                        <dt class="col-md-1 text-right" ><span data-translate="cercardiobitiApp.pacient.twitter">Twitter</span></dt>
                                        <input class="col-md-5"  type="text" ng-model="vm.pacientselected.twitter">                                        
                                    </div>                           
                                    <div class="col-md-12">
                                        <dt class="col-md-1 text-right" ><span data-translate="cercardiobitiApp.pacient.instagram">Instagram</span></dt>
                                        <input class="col-md-5"  type="text" ng-model="vm.pacientselected.instagram">

                                        <dt class="col-md-1 text-right" ><span data-translate="cercardiobitiApp.pacient.snapchat">Snapchat</span></dt>
                                        <input class="col-md-5"  type="text" ng-model="vm.pacientselected.snapchat">                                        
                                    </div>      
                                    <div class="col-md-12">
                                        <dt class="col-md-1 text-right" ><span data-translate="cercardiobitiApp.pacient.linkedin">Linkedin</span></dt>
                                        <input class="col-md-5"  type="text" ng-model="vm.pacientselected.linkedin">

                                        <dt class="col-md-1 text-right" ><span data-translate="cercardiobitiApp.pacient.vine">Vine</span></dt>
                                        <input class="col-md-5"  type="text" ng-model="vm.pacientselected.vine">                                        
                                    </div>                                   
                                    <div class="col-md-12">
                                        <br>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </uib-tab>
                    <uib-tab index="2" heading="APP">
                        <div class="col-md-12 animated fadeInLeft" style="background-color:#fff">
                            <form>
                                <fieldset disabled>
                                                          
                                                                    
                                </fieldset>
                            </form>
                        </div>
                    </uib-tab>          
                    <uib-tab index="3" heading="APP">
                        <div class="col-md-12 animated fadeInLeft" style="background-color:#fff">
                            <form>
                                <fieldset disabled>
                                                      
                                                                    
                                </fieldset>
                            </form>
                        </div>
                    </uib-tab>                              
                </uib-tabset>                
            </div> 
        </div>
      </div>
   
</div>
