
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPacientLabel" data-translate="cercardiobitiApp.pacient.home.createOrEditLabel">Create or edit a Pacient</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.pacient.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.pacient.id" readonly />
        </div>

        <div class="form-group">
            <label data-translate="cercardiobitiApp.pacient.userBD" for="field_userBD">User BD</label>
            <select class="form-control" id="field_userBD" name="userBD" ng-model="vm.pacient.userBD" ng-options="userBD as userBD.name + ' ' + userBD.lastname for userBD in vm.userbds | orderBy:'id' track by userBD.id">
                <option value=""></option>
            </select>
        </div>


        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.pacient.cp" for="field_cp">Cp</label>
            <input type="number" class="form-control" name="cp" id="field_cp"
                    ng-model="vm.pacient.cp"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.pacient.colony" for="field_colony">Colony</label>
            <input type="text" class="form-control" name="colony" id="field_colony"
                    ng-model="vm.pacient.colony"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.pacient.street" for="field_street">Street</label>
            <input type="text" class="form-control" name="street" id="field_street"
                    ng-model="vm.pacient.street"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.pacient.streetnumber" for="field_streetnumber">Streetnumber</label>
            <input type="text" class="form-control" name="streetnumber" id="field_streetnumber"
                    ng-model="vm.pacient.streetnumber"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.pacient.suitnumber" for="field_suitnumber">Suitnumber</label>
            <input type="text" class="form-control" name="suitnumber" id="field_suitnumber"
                    ng-model="vm.pacient.suitnumber"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.pacient.phonenumber1" for="field_phonenumber1">Phonenumber 1</label>
            <input type="number" class="form-control" name="phonenumber1" id="field_phonenumber1"
                    ng-model="vm.pacient.phonenumber1"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.pacient.phonenumber2" for="field_phonenumber2">Phonenumber 2</label>
            <input type="number" class="form-control" name="phonenumber2" id="field_phonenumber2"
                    ng-model="vm.pacient.phonenumber2"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.pacient.email1" for="field_email1">Email 1</label>
            <input type="text" class="form-control" name="email1" id="field_email1"
                    ng-model="vm.pacient.email1"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.pacient.email2" for="field_email2">Email 2</label>
            <input type="text" class="form-control" name="email2" id="field_email2"
                    ng-model="vm.pacient.email2"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.pacient.curp" for="field_curp">Curp</label>
            <input type="text" class="form-control" name="curp" id="field_curp"
                    ng-model="vm.pacient.curp"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.pacient.rfc" for="field_rfc">Rfc</label>
            <input type="text" class="form-control" name="rfc" id="field_rfc"
                    ng-model="vm.pacient.rfc"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.pacient.dateofbirth" for="field_dateofbirth">Dateofbirth</label>
                <div class="input-group">
                    <input id="field_dateofbirth" type="text" class="form-control" name="dateofbirth" uib-datepicker-popup="{{dateformat}}" ng-model="vm.pacient.dateofbirth" is-open="vm.datePickerOpenStatus.dateofbirth"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateofbirth')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.pacient.placeofbirth" for="field_placeofbirth">Placeofbirth</label>
            <input type="text" class="form-control" name="placeofbirth" id="field_placeofbirth"
                    ng-model="vm.pacient.placeofbirth"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.pacient.privatenumber" for="field_privatenumber">Privatenumber</label>
            <input type="text" class="form-control" name="privatenumber" id="field_privatenumber"
                    ng-model="vm.pacient.privatenumber"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.pacient.socialnumber" for="field_socialnumber">Socialnumber</label>
            <input type="text" class="form-control" name="socialnumber" id="field_socialnumber"
                    ng-model="vm.pacient.socialnumber"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.pacient.facebook" for="field_facebook">Facebook</label>
            <input type="text" class="form-control" name="facebook" id="field_facebook"
                    ng-model="vm.pacient.facebook"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.pacient.twitter" for="field_twitter">Twitter</label>
            <input type="text" class="form-control" name="twitter" id="field_twitter"
                    ng-model="vm.pacient.twitter"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.pacient.instagram" for="field_instagram">Instagram</label>
            <input type="text" class="form-control" name="instagram" id="field_instagram"
                    ng-model="vm.pacient.instagram"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.pacient.snapchat" for="field_snapchat">Snapchat</label>
            <input type="text" class="form-control" name="snapchat" id="field_snapchat"
                    ng-model="vm.pacient.snapchat"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.pacient.linkedin" for="field_linkedin">Linkedin</label>
            <input type="text" class="form-control" name="linkedin" id="field_linkedin"
                    ng-model="vm.pacient.linkedin"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.pacient.vine" for="field_vine">Vine</label>
            <input type="text" class="form-control" name="vine" id="field_vine"
                    ng-model="vm.pacient.vine"
                    />
        </div>

       
        <div class="form-group">
            <label data-translate="cercardiobitiApp.pacient.company" for="field_company">Company</label>
            <select class="form-control" id="field_company" name="company" ng-model="vm.pacient.company" ng-options="company as company.name for company in vm.companies track by company.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="cercardiobitiApp.pacient.gender" for="field_gender">Gender</label>
            <select class="form-control" id="field_gender" name="gender" ng-model="vm.pacient.gender" ng-options="gender as gender.description for gender in vm.genders track by gender.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="cercardiobitiApp.pacient.civilstatus" for="field_civilstatus">Civilstatus</label>
            <select class="form-control" id="field_civilstatus" name="civilstatus" ng-model="vm.pacient.civilstatus" ng-options="civilStatus as civilStatus.description for civilStatus in vm.civilstatuses track by civilStatus.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="cercardiobitiApp.pacient.religion" for="field_religion">Religion</label>
            <select class="form-control" id="field_religion" name="religion" ng-model="vm.pacient.religion" ng-options="religion as religion.religion for religion in vm.religions track by religion.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="cercardiobitiApp.pacient.ethnicGroup" for="field_ethnicGroup">Ethnic Group</label>
            <select class="form-control" id="field_ethnicGroup" name="ethnicGroup" ng-model="vm.pacient.ethnicGroup" ng-options="ethnicGroup as ethnicGroup.description for ethnicGroup in vm.ethnicgroups track by ethnicGroup.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="cercardiobitiApp.pacient.academicDegree" for="field_academicDegree">Academic Degree</label>
            <select class="form-control" id="field_academicDegree" name="academicDegree" ng-model="vm.pacient.academicDegree" ng-options="academicDegree as academicDegree.description for academicDegree in vm.academicdegrees track by academicDegree.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="cercardiobitiApp.pacient.socioeconomicLevel" for="field_socioeconomicLevel">Socioeconomic Level</label>
            <select class="form-control" id="field_socioeconomicLevel" name="socioeconomicLevel" ng-model="vm.pacient.socioeconomicLevel" ng-options="socioeconomicLevel as socioeconomicLevel.name for socioeconomicLevel in vm.socioeconomiclevels track by socioeconomicLevel.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="cercardiobitiApp.pacient.occupation" for="field_occupation">Occupation</label>
            <select class="form-control" id="field_occupation" name="occupation" ng-model="vm.pacient.occupation" ng-options="occupation as occupation.description for occupation in vm.occupations track by occupation.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="cercardiobitiApp.pacient.livingPlace" for="field_livingPlace">Living Place</label>
            <select class="form-control" id="field_livingPlace" name="livingPlace" ng-model="vm.pacient.livingPlace" ng-options="livingPlace as livingPlace.description for livingPlace in vm.livingplaces track by livingPlace.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="cercardiobitiApp.pacient.privateHealthInsurance" for="field_privateHealthInsurance">Private Health Insurance</label>
            <select class="form-control" id="field_privateHealthInsurance" name="privateHealthInsurance" ng-model="vm.pacient.privateHealthInsurance" ng-options="privateHealthInsurance as privateHealthInsurance.id for privateHealthInsurance in vm.privatehealthinsurances track by privateHealthInsurance.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="cercardiobitiApp.pacient.socialHealthInsurance" for="field_socialHealthInsurance">Social Health Insurance</label>
            <select class="form-control" id="field_socialHealthInsurance" name="socialHealthInsurance" ng-model="vm.pacient.socialHealthInsurance" ng-options="socialHealthInsurance as socialHealthInsurance.id for socialHealthInsurance in vm.socialhealthinsurances track by socialHealthInsurance.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
