<div>
    <h2 data-translate="cercardiobitiApp.medical_Procedures.home.title">Medical Procedures</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="medical-procedures.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="cercardiobitiApp.medical_Procedures.home.createLabel">
                        Create new Medical Procedures
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'cercardiobitiApp.medical_Procedures.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="cercardiobitiApp.medical_Procedures.catalogkey">Catalogkey</span></th>
                    <th><span data-translate="cercardiobitiApp.medical_Procedures.pronombre">Pronombre</span></th>
                    <th><span data-translate="cercardiobitiApp.medical_Procedures.procveedia">Procveedia</span></th>
                    <th><span data-translate="cercardiobitiApp.medical_Procedures.proedadia">Proedadia</span></th>
                    <th><span data-translate="cercardiobitiApp.medical_Procedures.procveedfa">Procveedfa</span></th>
                    <th><span data-translate="cercardiobitiApp.medical_Procedures.proedadfa">Proedadfa</span></th>
                    <th><span data-translate="cercardiobitiApp.medical_Procedures.sextype">Sextype</span></th>
                    <th><span data-translate="cercardiobitiApp.medical_Procedures.pornivela">Pornivela</span></th>
                    <th><span data-translate="cercardiobitiApp.medical_Procedures.procedimientotype">Procedimientotype</span></th>
                    <th><span data-translate="cercardiobitiApp.medical_Procedures.proprincipal">Proprincipal</span></th>
                    <th><span data-translate="cercardiobitiApp.medical_Procedures.procapitulo">Procapitulo</span></th>
                    <th><span data-translate="cercardiobitiApp.medical_Procedures.proseccion">Proseccion</span></th>
                    <th><span data-translate="cercardiobitiApp.medical_Procedures.procategoria">Procategoria</span></th>
                    <th><span data-translate="cercardiobitiApp.medical_Procedures.prosubcateg">Prosubcateg</span></th>
                    <th><span data-translate="cercardiobitiApp.medical_Procedures.progrupolc">Progrupolc</span></th>
                    <th><span data-translate="cercardiobitiApp.medical_Procedures.proescauses">Proescauses</span></th>
                    <th><span data-translate="cercardiobitiApp.medical_Procedures.pronumcauses">Pronumcauses</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="medical_Procedures in vm.medical_Procedures track by medical_Procedures.id">
                    <td><a ui-sref="medical-procedures-detail({id:medical_Procedures.id})">{{medical_Procedures.id}}</a></td>
                    <td>{{medical_Procedures.catalogkey}}</td>
                    <td>{{medical_Procedures.pronombre}}</td>
                    <td>{{medical_Procedures.procveedia}}</td>
                    <td>{{medical_Procedures.proedadia}}</td>
                    <td>{{medical_Procedures.procveedfa}}</td>
                    <td>{{medical_Procedures.proedadfa}}</td>
                    <td>{{medical_Procedures.sextype}}</td>
                    <td>{{medical_Procedures.pornivela}}</td>
                    <td>{{medical_Procedures.procedimientotype}}</td>
                    <td>{{medical_Procedures.proprincipal}}</td>
                    <td>{{medical_Procedures.procapitulo}}</td>
                    <td>{{medical_Procedures.proseccion}}</td>
                    <td>{{medical_Procedures.procategoria}}</td>
                    <td>{{medical_Procedures.prosubcateg}}</td>
                    <td>{{medical_Procedures.progrupolc}}</td>
                    <td>{{medical_Procedures.proescauses}}</td>
                    <td>{{medical_Procedures.pronumcauses}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="medical-procedures-detail({id:medical_Procedures.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="medical-procedures.edit({id:medical_Procedures.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="medical-procedures.delete({id:medical_Procedures.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
