<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="#/" >
            <span class="glyphicon glyphicon-th-list" ng-click="vm.ValorVariable()" ></span>
        </a>

        <!-- 
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand logo" href="#/" ng-click="vm.collapseNavbar()">
                <img class="logo-img" src="content/images/logocc.png" alt="logo"/>
                <span data-translate="global.title">CerCardio Biti</span>
            </a>
        </div> 
        -->

        <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
            <ul class="nav navbar-nav navbar-right">
                <!-- <li ui-sref-active="active">
                    <a ui-sref="home" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="hidden-sm">Home</span>
                    </a>
                </li> -->
                <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
                <li ng-class="{active: vm.$state.includes('entity')}" ng-switch-when="true" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                        <span>
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="hidden-sm">
                                Entities {{vm.vv}}
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                                               
                        <li ui-sref-active="active">
                                <a ui-sref="academic-degree" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.academicDegree">Academic Degree</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="appreciation" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.appreciation">Appreciation</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="background" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.background">Background</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="blood-group" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.bloodGroup">Blood Group</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="category" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.category">Category</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="civil-status" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.civilStatus">Civil Status</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="disabilities" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.disabilities">Disabilities</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="drug-addiction" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.drugAddiction">Drug Addiction</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="ethnic-group" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.ethnicGroup">Ethnic Group</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="gender" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.gender">Gender</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="living-place" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.livingPlace">Living Place</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="medic" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.medic">Medic</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="nurse" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.nurse">Nurse</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="occupation" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.occupation">Occupation</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="pacient" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.pacient">Pacient</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="pacient-apnp" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.pacientApnp">Pacient Apnp</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="pacient-app" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.pacientApp">Pacient App</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="pacient-contact" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.pacientContact">Pacient Contact</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="pacient-laboratoy" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.pacientLaboratoy">Pacient Laboratoy</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                    <a ui-sref="pacient-medical-analysis" ng-click="vm.collapseNavbar()">
                                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                        <span data-translate="global.menu.entities.pacientMedicalAnalysis">Pacient Medical Analysis</span>
                                    </a>
                                </li>
                            
                        <li ui-sref-active="active">
                                <a ui-sref="pacient-medical-data" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.pacientMedicalData">Pacient Medical Data</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="payment" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.payment">Payment</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="private-health-insurance" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.privateHealthInsurance">Private Health Insurance</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="religion" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.religion">Religion</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="reservation" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.reservation">Reservation</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="social-health-insurance" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.socialHealthInsurance">Social Health Insurance</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="socioeconomic-level" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.socioeconomicLevel">Socioeconomic Level</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="status" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.status">Status</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="time" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.time">Time</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="user-bd" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.userBd">User Bd</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="company" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.company">Company</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="diagnosis" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.diagnosis">Diagnosis</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="domicile" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.domicile">Domicile</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="indigenous-languages" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.indigenousLanguages">Indigenous Languages</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="medical-procedures" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.medicalProcedures">Medical Procedures</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="medicine" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.medicine">Medicine</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="medic-information" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.medicInformation">Medic Information</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="programs" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.programs">Programs</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="type-program" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.typeProgram">Type Program</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="way-of-administration" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.wayOfAdministration">Way Of Administration</span>
                                </a>
                            </li>
                      
                        <li ui-sref-active="active">
                                <a ui-sref="timers" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.timers">Timers</span>
                                </a>
                            </li>
                       
                        <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('account')}" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu">
                        <span>
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="hidden-sm">
                                Account
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="settings" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-wrench"></span>&nbsp;
                                <span>Settings</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="password" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-lock"></span>&nbsp;
                                <span>Password</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a href="" ng-click="vm.logout()" id="logout">
                                <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                                <span>Sign out</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a href="" ng-click="vm.login()" id="login">
                                <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                                <span>Sign in</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a ui-sref="register" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
                                <span>Register</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('admin')}"  ng-switch-when="true" has-authority="ROLE_ADMIN" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                            <span class="hidden-sm">Administration</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="user-management" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-user"></span>&nbsp;
                                <span>User management</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-metrics" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-dashboard"></span>&nbsp;
                                <span>Metrics</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-health" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-heart"></span>&nbsp;
                                <span>Health</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-configuration" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                                <span>Configuration</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="audits" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-bell"></span>&nbsp;
                                <span>Audits</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="logs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-tasks"></span>&nbsp;
                                <span>Logs</span>
                            </a>
                        </li>
                        <li ng-show="vm.swaggerEnabled" ui-sref-active="active">
                            <a ui-sref="docs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-book"></span>&nbsp;
                                <span>API</span>
                            </a>
                        </li>
                        <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                    </ul>
                </li>
                <li ui-sref-active="active" uib-dropdown class="dropdown pointer" ng-controller="JhiLanguageController as languageVm">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" ng-if="languageVm.languages.length > 1">
                        <span>
                            <span class="glyphicon glyphicon-flag"></span>
                            <span class="hidden-sm" data-translate="global.menu.language">Language</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu ng-if="languageVm.languages.length > 1">
                        <li active-menu="{{language}}" ng-repeat="language in languageVm.languages">
                            <a href="" ng-click="languageVm.changeLanguage(language);vm.collapseNavbar();">{{language | findLanguageFromKey}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</nav>


<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:20%" ng-switch="vm.isAuthenticated()">
    <li class="w3-bar-item">
        <a ui-sref="home" ng-click="vm.collapseNavbar()">
            <span class="glyphicon glyphicon-home"></span>
            <span class="hidden-sm">Home</span>
        </a>
    </li>
    
    <a class="w3-bar-item w3-button" ui-sref="reservation" ng-click="vm.collapseNavbar()">
        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
        <span data-translate="global.menu.entities.reservation">Reservation</span>
    </a>
    <a class="w3-bar-item w3-button" ui-sref="pacient" ng-click="vm.collapseNavbar()">
        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
        <span data-translate="global.menu.entities.pacient">Pacient</span>
    </a>
    <a class="w3-bar-item w3-button" ui-sref="medic" ng-click="vm.collapseNavbar()">
        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
        <span data-translate="global.menu.entities.medic">Medic</span>
    </a>
    <a class="w3-bar-item w3-button" ui-sref="nurse" ng-click="vm.collapseNavbar()">
        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
        <span data-translate="global.menu.entities.nurse">Nurse</span>
    </a>
    <a class="w3-bar-item w3-button" ui-sref="reports" ng-click="vm.collapseNavbar()">
        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
        <span data-translate="global.menu.entities.reports">Reports</span>
    </a>
    <a class="w3-bar-item w3-button" ui-sref="reports" ng-click="vm.collapseNavbar()">
        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
        <span data-translate="global.menu.entities.reports">Reports</span>
    </a>
    <a class="w3-bar-item w3-button" ui-sref="company" ng-click="vm.collapseNavbar()">
        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
        <span data-translate="global.menu.entities.company">Company</span>
    </a>

</div>
<!-- 
 <aside class="main-sidebar" ng-switch="vm.isAuthenticated()">
        <section class="sidebar" ng-switch-when="true">
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">
                    <a ui-sref="home" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="hidden-sm">Home</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="reservation" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.reservation">Reservation</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="pacient" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.pacient">Pacient</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="medic" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.medic">Medic</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="nurse" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.nurse">Nurse</span>
                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="reports" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.reports">Reports</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="company" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.company">Company</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="user-bd" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.userBd">User Bd</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-pie-chart"></i>
                        <span>Catalogos</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                            <li><a href="../charts/chartjs.html"><i class="fa fa-circle-o"></i> ChartJS</a></li>
                            <li><a href="../charts/morris.html"><i class="fa fa-circle-o"></i> Morris</a></li>
                            <li><a href="../charts/flot.html"><i class="fa fa-circle-o"></i> Flot</a></li>
                            <li><a href="../charts/inline.html"><i class="fa fa-circle-o"></i> Inline charts</a></li>
                        <li ui-sref-active="active">
                            <a ui-sref="academic-degree" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.academicDegree">Academic Degree</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="appreciation" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.appreciation">Appreciation</span>
                            </a>
                        </li>
                    </ul>
                </li>
                
                
            <li ui-sref-active="active">
                    <a ui-sref="background" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.background">Background</span>
                    </a>
                </li>
            <li ui-sref-active="active">
                    <a ui-sref="blood-group" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.bloodGroup">Blood Group</span>
                    </a>
                </li>
            <li ui-sref-active="active">
                    <a ui-sref="category" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.category">Category</span>
                    </a>
                </li>
            <li ui-sref-active="active">
                    <a ui-sref="civil-status" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.civilStatus">Civil Status</span>
                    </a>
                </li>
            <li ui-sref-active="active">
                    <a ui-sref="disabilities" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.disabilities">Disabilities</span>
                    </a>
                </li>
            <li ui-sref-active="active">
                    <a ui-sref="drug-addiction" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.drugAddiction">Drug Addiction</span>
                    </a>
                </li>
            <li ui-sref-active="active">
                    <a ui-sref="ethnic-group" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.ethnicGroup">Ethnic Group</span>
                    </a>
                </li>
            <li ui-sref-active="active">
                    <a ui-sref="gender" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.gender">Gender</span>
                    </a>
                </li>
            <li ui-sref-active="active">
                    <a ui-sref="living-place" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.livingPlace">Living Place</span>
                    </a>
                </li>
           
            <li ui-sref-active="active">
                    <a ui-sref="occupation" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.occupation">Occupation</span>
                    </a>
                </li>
           
            <li ui-sref-active="active">
                    <a ui-sref="payment" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.payment">Payment</span>
                    </a>
                </li>
            <li ui-sref-active="active">
                    <a ui-sref="private-health-insurance" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.privateHealthInsurance">Private Health Insurance</span>
                    </a>
                </li>
            <li ui-sref-active="active">
                    <a ui-sref="religion" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.religion">Religion</span>
                    </a>
                </li>
            
            <li ui-sref-active="active">
                    <a ui-sref="social-health-insurance" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.socialHealthInsurance">Social Health Insurance</span>
                    </a>
                </li>
            <li ui-sref-active="active">
                    <a ui-sref="socioeconomic-level" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.socioeconomicLevel">Socioeconomic Level</span>
                    </a>
                </li>
            <li ui-sref-active="active">
                    <a ui-sref="status" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.status">Status</span>
                    </a>
                </li>
            <li ui-sref-active="active">
                    <a ui-sref="time" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.time">Time</span>
                    </a>
                </li>
            
            
            <li ui-sref-active="active">
                    <a ui-sref="diagnosis" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.diagnosis">Diagnosis</span>
                    </a>
                </li>
            <li ui-sref-active="active">
                    <a ui-sref="domicile" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.domicile">Domicile</span>
                    </a>
                </li>
            <li ui-sref-active="active">
                    <a ui-sref="indigenous-languages" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.indigenousLanguages">Indigenous Languages</span>
                    </a>
                </li>
            <li ui-sref-active="active">
                    <a ui-sref="medical-procedures" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.medicalProcedures">Medical Procedures</span>
                    </a>
                </li>
            <li ui-sref-active="active">
                    <a ui-sref="medicine" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.medicine">Medicine</span>
                    </a>
                </li>
            <li ui-sref-active="active">
                    <a ui-sref="medic-information" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.medicInformation">Medic Information</span>
                    </a>
                </li>
            <li ui-sref-active="active">
                    <a ui-sref="programs" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.programs">Programs</span>
                    </a>
                </li>
            <li ui-sref-active="active">
                    <a ui-sref="type-program" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.typeProgram">Type Program</span>
                    </a>
                </li>
            <li ui-sref-active="active">
                    <a ui-sref="way-of-administration" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.wayOfAdministration">Way Of Administration</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="pacient-medical-analysis" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.pacientMedicalAnalysis">Pacient Medical Analysis</span>
                    </a>
                </li>
            
            <li ui-sref-active="active">
                    <a ui-sref="timers" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span data-translate="global.menu.entities.timers">Timers</span>
                    </a>
                </li>
            </ul>
        </section>
</aside> -->