<div>
    <h2 data-translate="cercardiobitiApp.nurse.home.title">Nurses</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="nurse.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="cercardiobitiApp.nurse.home.createLabel">
                        Create new Nurse
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'cercardiobitiApp.nurse.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cpid"><span data-translate="cercardiobitiApp.nurse.cpid">Cpid</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="colony"><span data-translate="cercardiobitiApp.nurse.colony">Colony</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="street"><span data-translate="cercardiobitiApp.nurse.street">Street</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="streetnumber"><span data-translate="cercardiobitiApp.nurse.streetnumber">Streetnumber</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="suitnumber"><span data-translate="cercardiobitiApp.nurse.suitnumber">Suitnumber</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="phonenumber1"><span data-translate="cercardiobitiApp.nurse.phonenumber1">Phonenumber 1</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="phonenumber2"><span data-translate="cercardiobitiApp.nurse.phonenumber2">Phonenumber 2</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="email1"><span data-translate="cercardiobitiApp.nurse.email1">Email 1</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="email2"><span data-translate="cercardiobitiApp.nurse.email2">Email 2</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="facebook"><span data-translate="cercardiobitiApp.nurse.facebook">Facebook</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="twitter"><span data-translate="cercardiobitiApp.nurse.twitter">Twitter</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="instagram"><span data-translate="cercardiobitiApp.nurse.instagram">Instagram</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="snapchat"><span data-translate="cercardiobitiApp.nurse.snapchat">Snapchat</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="linkedin"><span data-translate="cercardiobitiApp.nurse.linkedin">Linkedin</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="vine"><span data-translate="cercardiobitiApp.nurse.vine">Vine</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdat"><span data-translate="cercardiobitiApp.nurse.createdat">Createdat</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="userBD.id"><span data-translate="cercardiobitiApp.nurse.userBD">User BD</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="company.id"><span data-translate="cercardiobitiApp.nurse.company">Company</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="gender.id"><span data-translate="cercardiobitiApp.nurse.gender">Gender</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="nurse in vm.nurses track by nurse.id">
                    <td><a ui-sref="nurse-detail({id:nurse.id})">{{nurse.id}}</a></td>
                    <td>{{nurse.cpid}}</td>
                    <td>{{nurse.colony}}</td>
                    <td>{{nurse.street}}</td>
                    <td>{{nurse.streetnumber}}</td>
                    <td>{{nurse.suitnumber}}</td>
                    <td>{{nurse.phonenumber1}}</td>
                    <td>{{nurse.phonenumber2}}</td>
                    <td>{{nurse.email1}}</td>
                    <td>{{nurse.email2}}</td>
                    <td>{{nurse.facebook}}</td>
                    <td>{{nurse.twitter}}</td>
                    <td>{{nurse.instagram}}</td>
                    <td>{{nurse.snapchat}}</td>
                    <td>{{nurse.linkedin}}</td>
                    <td>{{nurse.vine}}</td>
                    <td>{{nurse.createdat | date:'medium'}}</td>
                    <td>
                        <a ui-sref="user-bd-detail({id:nurse.userBD.id})">{{nurse.userBD.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="company-detail({id:nurse.company.id})">{{nurse.company.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="gender-detail({id:nurse.gender.id})">{{nurse.gender.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="nurse-detail({id:nurse.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="nurse.edit({id:nurse.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="nurse.delete({id:nurse.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
