
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMedic_InformationLabel" data-translate="cercardiobitiApp.medic_Information.home.createOrEditLabel">Create or edit a Medic Information</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.medic_Information.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.medic_Information.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.medic_Information.cp" for="field_cp">Cp</label>
            <input type="number" class="form-control" name="cp" id="field_cp"
                    ng-model="vm.medic_Information.cp"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.medic_Information.street" for="field_street">Street</label>
            <input type="text" class="form-control" name="street" id="field_street"
                    ng-model="vm.medic_Information.street"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.medic_Information.extnumber" for="field_extnumber">Extnumber</label>
            <input type="text" class="form-control" name="extnumber" id="field_extnumber"
                    ng-model="vm.medic_Information.extnumber"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.medic_Information.intnumber" for="field_intnumber">Intnumber</label>
            <input type="text" class="form-control" name="intnumber" id="field_intnumber"
                    ng-model="vm.medic_Information.intnumber"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.medic_Information.phone1" for="field_phone1">Phone 1</label>
            <input type="text" class="form-control" name="phone1" id="field_phone1"
                    ng-model="vm.medic_Information.phone1"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.medic_Information.phone2" for="field_phone2">Phone 2</label>
            <input type="text" class="form-control" name="phone2" id="field_phone2"
                    ng-model="vm.medic_Information.phone2"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.medic_Information.email1" for="field_email1">Email 1</label>
            <input type="text" class="form-control" name="email1" id="field_email1"
                    ng-model="vm.medic_Information.email1"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.medic_Information.email2" for="field_email2">Email 2</label>
            <input type="text" class="form-control" name="email2" id="field_email2"
                    ng-model="vm.medic_Information.email2"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.medic_Information.facebook" for="field_facebook">Facebook</label>
            <input type="text" class="form-control" name="facebook" id="field_facebook"
                    ng-model="vm.medic_Information.facebook"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.medic_Information.twitter" for="field_twitter">Twitter</label>
            <input type="text" class="form-control" name="twitter" id="field_twitter"
                    ng-model="vm.medic_Information.twitter"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.medic_Information.instagram" for="field_instagram">Instagram</label>
            <input type="text" class="form-control" name="instagram" id="field_instagram"
                    ng-model="vm.medic_Information.instagram"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.medic_Information.snapchat" for="field_snapchat">Snapchat</label>
            <input type="text" class="form-control" name="snapchat" id="field_snapchat"
                    ng-model="vm.medic_Information.snapchat"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.medic_Information.linkedin" for="field_linkedin">Linkedin</label>
            <input type="text" class="form-control" name="linkedin" id="field_linkedin"
                    ng-model="vm.medic_Information.linkedin"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.medic_Information.vine" for="field_vine">Vine</label>
            <input type="text" class="form-control" name="vine" id="field_vine"
                    ng-model="vm.medic_Information.vine"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.medic_Information.recomended" for="field_recomended">Recomended</label>
            <input type="text" class="form-control" name="recomended" id="field_recomended"
                    ng-model="vm.medic_Information.recomended"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.medic_Information.cvuconacyt" for="field_cvuconacyt">Cvuconacyt</label>
            <input type="text" class="form-control" name="cvuconacyt" id="field_cvuconacyt"
                    ng-model="vm.medic_Information.cvuconacyt"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.medic_Information.cedula" for="field_cedula">Cedula</label>
            <input type="text" class="form-control" name="cedula" id="field_cedula"
                    ng-model="vm.medic_Information.cedula"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.medic_Information.cedulaesp" for="field_cedulaesp">Cedulaesp</label>
            <input type="text" class="form-control" name="cedulaesp" id="field_cedulaesp"
                    ng-model="vm.medic_Information.cedulaesp"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.medic_Information.curp" for="field_curp">Curp</label>
            <input type="text" class="form-control" name="curp" id="field_curp"
                    ng-model="vm.medic_Information.curp"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.medic_Information.rfc" for="field_rfc">Rfc</label>
            <input type="text" class="form-control" name="rfc" id="field_rfc"
                    ng-model="vm.medic_Information.rfc"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.medic_Information.birthday" for="field_birthday">Birthday</label>
                <div class="input-group">
                    <input id="field_birthday" type="text" class="form-control" name="birthday" uib-datepicker-popup="{{dateformat}}" ng-model="vm.medic_Information.birthday" is-open="vm.datePickerOpenStatus.birthday"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('birthday')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.medic_Information.externalhospitals" for="field_externalhospitals">Externalhospitals</label>
            <input type="text" class="form-control" name="externalhospitals" id="field_externalhospitals"
                    ng-model="vm.medic_Information.externalhospitals"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.medic_Information.subid" for="field_subid">Subid</label>
            <input type="number" class="form-control" name="subid" id="field_subid"
                    ng-model="vm.medic_Information.subid"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.medic_Information.highid" for="field_highid">Highid</label>
            <input type="number" class="form-control" name="highid" id="field_highid"
                    ng-model="vm.medic_Information.highid"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.medic_Information.medicalinsurance" for="field_medicalinsurance">Medicalinsurance</label>
            <input type="number" class="form-control" name="medicalinsurance" id="field_medicalinsurance"
                    ng-model="vm.medic_Information.medicalinsurance"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.medic_Information.socialinsurance" for="field_socialinsurance">Socialinsurance</label>
            <input type="number" class="form-control" name="socialinsurance" id="field_socialinsurance"
                    ng-model="vm.medic_Information.socialinsurance"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.medic_Information.responsibilityinsurance" for="field_responsibilityinsurance">Responsibilityinsurance</label>
            <input type="text" class="form-control" name="responsibilityinsurance" id="field_responsibilityinsurance"
                    ng-model="vm.medic_Information.responsibilityinsurance"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.medic_Information.sINconacyt" for="field_sINconacyt">S I Nconacyt</label>
            <input type="text" class="form-control" name="sINconacyt" id="field_sINconacyt"
                    ng-model="vm.medic_Information.sINconacyt"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.medic_Information.medicalinnumber" for="field_medicalinnumber">Medicalinnumber</label>
            <input type="text" class="form-control" name="medicalinnumber" id="field_medicalinnumber"
                    ng-model="vm.medic_Information.medicalinnumber"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.medic_Information.socialinnumber" for="field_socialinnumber">Socialinnumber</label>
            <input type="text" class="form-control" name="socialinnumber" id="field_socialinnumber"
                    ng-model="vm.medic_Information.socialinnumber"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cercardiobitiApp.medic_Information.responsibilityinnumber" for="field_responsibilityinnumber">Responsibilityinnumber</label>
            <input type="text" class="form-control" name="responsibilityinnumber" id="field_responsibilityinnumber"
                    ng-model="vm.medic_Information.responsibilityinnumber"
                    />
        </div>

        <div class="form-group">
            <label data-translate="cercardiobitiApp.medic_Information.medic" for="field_medic">Medic</label>
            <select class="form-control" id="field_medic" name="medic" ng-model="vm.medic_Information.medic" ng-options="medic as medic.id for medic in vm.medics | orderBy:'id' track by medic.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
